<div class="container">
<div class="row">
    <div class="center-image col-md-3">
        <img class="img-responsive" src="{{RgkImageSrc}}" alt="{{RgkImageAlt}}" />
    </div>
    <div class="col-md-9 panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">{{CardSummary}}</h3>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <p class="list-group-item-text">{{Name}}</p>
                <h4 class="list-group-item-heading">{{FullName}}</h4>
            </div>
            <div class="list-group-item">
                <p class="list-group-item-text">{{PronounceName}}</p>
                <h4 class="list-group-item-heading">{{FirstNamePronounciation}}</h4>
            </div>
            <div class="list-group-item">
                <p class="list-group-item-text">{{ProfileSummary}}</p>
            </div>
        </div>
    </div>
</div>
</div>
