<div class="panel panel-default bootcards-file">                                                                                               
    <div class="panel-heading">
        <h3 class="panel-title">{{GradTranscripts}}</h3>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <a href="{{GradPdfLocation}}">
                <i class="icon-file-pdf"></i>
            </a>
            <h4 class="list-group-item-heading">
                <a href="{{GradPdfLocation}}">
                    {{GradFileName}}
                </a>
            </h4>
            <p class="list-group-item-text"><strong>{{GradType}}</strong></p>
            <p class="list-group-item-text"><strong>{{GradSize}}</strong></p>
        </div>
        <div class="list-group-item">
            <p class="list-group-item-text"><strong>{{GradComments}}</strong></p>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">                                                                                        
                <a href="{{GradPdfLocation}}" download="{{GradFileName}}">
                    {{Download}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default bootcards-file">                                                                                               
    <div class="panel-heading">
        <h3 class="panel-title">{{UnderGradTranscripts}}</h3>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <a href="{{UnderGradPdfLocation}}">
                <i class="icon-file-pdf"></i>
            </a>
            <h4 class="list-group-item-heading">
                <a href="{{UnderGradPdfLocation}}">
                    {{UnderGradFileName}}
                </a>
            </h4>
            <p class="list-group-item-text"><strong>{{UnderGradType}}</strong></p>
            <p class="list-group-item-text"><strong>{{UnderGradSize}}</strong></p>
        </div>
        <div class="list-group-item">
            <p class="list-group-item-text"><strong>{{UnderGradComments}}</strong></p>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">                                                                                        
                <a href="{{UnderGradPdfLocation}}" download="{{UnderGradFileName}}">
                    {{Download}}
                </a>
            </div>
        </div>
    </div>
</div>
