<!-- Bootstrap compliant Navigation Bar -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <!-- The navigation bar is housed under the fluid container. Best container class for navbars -->
    <div class="container-fluid">
        <!-- Code for the mobile version. Show a button that displays the navbar on clicking it -->
        <div class="navbar-header">
            <button type="button"
                    class="btn btn-default navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#main_navbar"
                    aria-expanded="false">
                        <i class="fa fa-2x fa-bars"></i>
            </button>
        </div>
        <!-- Code for the desktop version show the entire navbar -->
        <div class="collapse navbar-collapse" id="main_navbar">
            <!-- Display the unordered vertical list in horizontal fashion -->
            <ul class="nav navbar-nav">
                <li> <a href="{{IndexHTML}}">{{Home}}</a> </li>
                <li> <a href="{{EducationHTML}}">{{Education}}</a> </li>
                <li> <a href="{{ResumeHTML}}">{{Resume}}</a> </li>
                <li> <a href="{{ContactHTML}}">{{ContactMe}}</a> </li>
            </ul>
        </div>
    </div>
</nav>
